<html>

<head>
    <title>
        My First ML Web App!
    </title>
</head>

<body>

    <h1 style="color: green; margin: 10px 40% 10px;">SIEVE ALGORITHM</h1>
    <div style="width: 80%; margin: 100px auto 100px;">
        <h2> Data Set Information:</h2>
        <h3 style="text-align: justify;">
            The following example illustrates how the Sieve of Eratosthenes, can be used to find all the prime numbers that are less than 10000.

        </h3>
        <h2>STEPS:</h2>
        <p>
            <ol>
                <li> Write the numbers 1 to 10000</li>
                <li>Cross out 1 because 1 is not a prime.</li>
                <li>Circle x (Here x = 3) and cross out all multiples of x. (3, 6, 9, 12, 15, ...)</li>
                <li> increment x = x + 2 until x is less than of equal 100</li>
                <li>The uncrossed numbers are the prime numbers</li>
            </ol>
        </p>






    </div>
</body>

</html>